# ========================
# Python / Django
# ========================
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
*.sqlite3
*.log
*.pot
*.py[cod]
*.swp
*.DS_Store
db.sqlite3
media/
staticfiles/
*.cover
htmlcov/
.coverage
*.mo
*.py[cod]
*.sqlite3-journal

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# ========================
# Node / React / Tailwind
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.DS_Store
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =====================
# IDEs
# =====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =====================
# Docker
# =====================
*.env
docker-compose.override.yml
docker-compose.override.yaml